@import "../varibles";

/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
  position: relative;
  z-index: 1;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("/images/banner-bg.jpg");
  padding: {
    left: 50px;
    right: 50px;
  }
}

.main-banner-overlay {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.main-banner-content {
  position: absolute;
  width: 50%;
  margin: 0px auto;

  h2 {
    color: $white-color;
    margin: {
      bottom: 10px;
    }

    line-height: 40px;
  }

  h5 {
    color: $white-color;
    font-family: $optional-font-family;
    margin: {
      bottom: 10px;
    }
  }

  .content-author {
    display: flex;
    justify-content: left;

    .content-author-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .content-author-info {
      padding: 0px 10px;
      display: flex;
      align-items: center;

      a {
        color: $white-color;
        &:hover {
          color: $white-color;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs) {
  .main-banner {
    position: relative;
    z-index: 1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("/images/banner-bg.jpeg");

    padding: {
      right: 50px;
    }
  }
  .main-banner-content {
    padding-top: 40px;
  }
}
