@import "../varibles";

// Mobile Navbar
@media only screen and (max-width: 767px) {
  .navbar-area {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    padding: {
      top: 15px;
      bottom: 15px;
    }
    &.is-sticky {
      border-bottom: none;
      box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);

      .evolta-nav {
        padding: 0;
      }
    }
  }
  .evolta-nav {
    padding: 0;

    .navbar {
      .navbar-nav {
        margin-top: 10px;
        margin-left: 0;
        background: $white-color;
        min-height: calc(100vh - 10px);
        padding: {
          top: 20px;
          left: 15px;
          right: 15px;
          bottom: 5px;
        }
        .nav-item {
          padding-top: 8px;
          padding-bottom: 8px;

          .nav-link {
            margin-left: 0;
            margin-right: 0;
          }

          .active {
            color: $optional-color;
          }

          .dropdown-menu {
            li {
              .dropdown-menu {
                left: -4px;
                top: 0;
                margin-top: 60px;
              }
            }
          }
        }
      }
      .others-options {
        display: none;
      }
    }
  }
  .navbar-light {
    .navbar-toggler {
      border-color: $white-color;
      border-radius: 0;
      border: none;

      &:active &:focus {
        border: none;
      }
    }
  }
}
