@import "../varibles";

/*================================================
Partner Area CSS
=================================================*/
.partner-area {
  padding-top: 30px;
}
.single-partner-item {
  text-align: center;

  a {
    img {
      width: auto !important;
      display: inline-block !important;
      transition: $transition;
      opacity: 0.8;
    }
  }
  &:hover {
    a {
      img {
        opacity: 1;
      }
    }
  }
}
